/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin-top: 16px;
}

.logo {
  height: 24px;
}

ul {
  display: flex;
  gap: 24px;
}

ul:hover {
  opacity: 0.7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.mainimg {
  width: 100%;
  height: 640px;
  border-radius: 16px;
  object-fit: cover;
  margin-top: 24px;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.margin {
  border-bottom: solid 1px #383e45;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.personal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-evenly;
}

.proimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/
.article2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 16px;
}

.title1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artimg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 8px;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
  footer {
    padding: 40px 0;
    font-size: small;
    text-align: center;
  }